.product_heading h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}

.product_heading p {
    color: #303030;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}


/* all_product_content */

.product_content p {
    color: #303030;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
}

.product_content h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.product_content img {
    width: 100%;
}

.product_content button {
    background-color: cornflowerblue;
    border-radius: 15px 15px;
    padding: 8px;
    color: #000;
    font-weight: bold;
    border: 0;
    padding: 8px 14px;
    margin-bottom: 30px;
}

.product_content button:hover {
    background-color: chocolate;
    color: #fff;
    transition: 0.5s;
}